[Unit]
Description=Docker Swarm
After=docker.service
Requires=docker.service
Requires=etcd.service

[Service]
TimeoutStartSec=0
ExecStartPre=- docker swarm leave
ExecStart=docker run swarm manage etcd://localhost:2370/swarm
ExecStop=docker swarm leave

[X-Fleet]
Global=true